lambdas/lambda_kafka_produce_on_transcribe_complete/package
*.jar

*old_deploy.zip
web-text-input-kafka-consumer/target
#swap
.*.sw*

*.mp3

#
.DS_Store

#kafka consumer
kafka-consumer-2/target

#submodules
pyAudioAnalysis/

#node stuff
web_app/src/node_modules/
#AWS secrets
rootkey.csv
secrets.py
__pycache__
audio
project_DallonAsnes.zip
