<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Views</title>
    <link type="text/css" rel="stylesheet" href="table.css" />
  </head>
  <body>
  <div>
    <b>Most common words are:</b> <br>
     {{mcw}}
    <br>
    <b>Least common words are </b><br>
    {{lcw}}
    <br>
    <b>Percentage of spoken segments with a positive sentiment score</b><br>
    {{ss}}
    <br>
  </div>
  <div>
    
  </div>
</body></html>
